{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "extends": ["prettier", "airbnb-base"],
  "plugins": ["prettier"],
  "env": {
    "jest": true,
    "jasmine": true,
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "rules": {
    "prettier/prettier": "error",
    "quotes": [2, "double", { "avoidEscape": true }]
  }
}
